# Your shared projects dir path (must using linux format)
PROJECTS_PATH=CHANGE_INTO_YOUR_PROJECTS_PATH

# Postgres One
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres_db