#
#--------------------------------------------------------------------------
# docker-compose.yml
#--------------------------------------------------------------------------
#
# Here is where you can play around with your container stacks
# Feel free to modify it base on your need.
# 
# notes:
# set {PROJECTS_PATH} in .env file and must be in linux format.
# put your working php projects inside PROJECTS_PATH dir
# port 80/443 => using php-fpm 8.4
# port 8070 => using php-fpm 7.1
# port 8074 => using php-fpm 7.4
#

services:
  nginx:
    image: nginx:latest-dev
    container_name: nginx
    restart: unless-stopped
    volumes:
      - ${PROJECTS_PATH}:/var/www/html
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./config/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./config/nginx/fastcgi_params:/etc/nginx/fastcgi_params
    ports:
      - 80:80
      - 443:443
      - 8070:8070
      - 8074:8074
    networks:
      - internal_dockernet
    depends_on:
      - php71
      - php74
      - php84

  php71:
    image: php71:latest-dev
    container_name: php71
    restart: unless-stopped
    volumes:
      - ${PROJECTS_PATH}:/var/www/html
      - ./config/php/v71/zz-docker.conf:/usr/local/etc/php-fpm.d/zz-docker.conf
    environment:
      - TZ=Asia/Jakarta
    expose:
      - 9000
    networks:
      - internal_dockernet

  php74:
    image: php74:latest-dev
    container_name: php74
    restart: unless-stopped
    volumes:
      - ${PROJECTS_PATH}:/var/www/html
      - ./config/php/v74/zz-docker.conf:/usr/local/etc/php-fpm.d/zz-docker.conf
    environment:
      - TZ=Asia/Jakarta
    expose:
      - 9000
    networks:
      - internal_dockernet

  php84:
    image: php84:latest-dev
    container_name: php84
    restart: unless-stopped
    volumes:
      - ${PROJECTS_PATH}:/var/www/html
      - ./config/php/v84/zz-docker.conf:/usr/local/etc/php-fpm.d/zz-docker.conf
    environment:
      - TZ=Asia/Jakarta
    expose:
      - 9000
    networks:
      - internal_dockernet
  
networks:
  internal_dockernet:
    driver: bridge
